#certified{

}
#certified h1{
    margin-left: 50px;
    text-decoration: black wavy underline ;

}
#certified .img{
    display: grid;
     grid-template-columns: 300px 300px 300px;  
     grid-gap: 30px;
}
#certified .img img{
    height: 300px;
    width: 300px;
    margin: 10px;
    margin-left: 30px;
    border: 2px solid black;
}
@media only screen and  (max-width:500px) {
    #certified .img{
        display: block;
    }
    #certified .img img{
        height: 150px;
        width: 150px;
    }
}