@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 60px;
  width: 100%;
  background: green;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  /* margin-right: 10px; */
  font-weight: 600;
  
}
nav .logo img{
    height: 60px;
    border-radius: 10px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: rgb(161, 202, 64);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
/* @media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
} */
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
#home .home1{
    display: flex;
}

#home .home1 .homeleft{
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'PT Serif', serif; */
    color: rgb(0, 59, 112);
}
#home .home1 .homeleft h1{
  font-size: 25px;
}
#home .home1 .homeleft p{
    color: rgb(155, 87, 92);
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

#home .home1 { 
    height: 667px;
    /* width: 1000px; */
    background-image: url(images/home.jpg);
}
#home .home1 .homeright img{
    height:667px ;
    width: 600px;
}


#services{
    padding:100px 50px;

}
.services-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.services-box{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding:20px;
    cursor: pointer;
    margin-top: 20px;
}
.services-box:hover{
    background:#e74c3c ;
    color: white;
    transition: 0.7s;

}

.services-box img{
    width: 60%;
}
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-size: 50px;

}
.section-info p{
    font-size: 25px;
    color: #e74c3c;
}

#quality .qualityclass{
  background-image: url(images/qual.jpg);
  display: flex;
}
#quality .qualityclass .leftquality img{
  height: 500px;
  width: 600px;
}
#quality .qualityclass .rightquality h1{
  color: rgb(35, 83, 83);
}
#quality .qualityclass .rightquality p{
  color: rgb(24, 67, 185);
}
.air{
  display: flex;
}
.air .airright img{
  width: 600px;
  height: 300px;
}
.air .airleft h1{
  color:rgb(121, 94, 31);
}
.air .airleft p{
  color: black;
}


@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }

  @media only screen and  (max-width:500px) {
    
    #home.home1.homeleft{
        display: block;
        
    }
    #home .home1{
        display: block;
    }
    #home .home1 .homeright img{
        width: 450px;
    }

    .services-box{
        flex-basis: 100%;
        /* text-align: center;
        box-shadow: 2px 3px 5px grey;
        padding:20px;
        cursor: pointer;*/
        margin-top: 20px; 
    }
    .services-box img{
        width: 60%;
    } 
    #quality .qualityclass{

      display: block;
    }
    #quality .qualityclass .leftquality{
      display: block;
    }
    #quality .qualityclass .leftquality img{
      width: 450px;
    }
    #quality .qualityclass .rightquality{
      display: block;
    }
    .air .airright{
      display: block;
      width: 50px;
    }
    .air .airright img{
      display: none;
      
    }
    .air .airleft{
      display: block;
    }
    
}



